
   table {
    	width: 100%;
    	text-align: center;
        font-weight: bold;
    }
    div{
    	width: 100%;
        font-weight: bold;
        text-align: center;
    }
    .color1 {
    	background: #8df18d;
    }
    .color2 {
    	background: #8df1f1;
        text-align: left;

    }
    .color3 {
    	background: #e68df1;
        text-align: right;
        vertical-align: bottom;
    }
    .colorletra{
    	color: red;
    }